h3{
  font-size: 4rem;
}
h4{
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: -1rem;
  text-align: center;
  margin-top: -1rem;
}
p{
  font-size: 1.7rem;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.logo{
  text-align: center;
  font-size: 10rem;
  color: #261447;
}
.button1{
  display: block;
  margin: auto;
  background-color: #261447;
  color: white;
  border: none;
  border-radius: 3rem;
  height: 6rem;
  width: 50%;
  font-size: 250%;
}
.meet{
  font-size: 600%;
  color: #261447;
}
.meet2{
  font-size: 600%;
  color: #261447;
}
.meetsimonparent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}
.meetsimonchild{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: 50%;
  text-align: center;
}
.button1:hover{
  background-color: #190D30;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1:active{
  background-color: black;
  box-shadow: none;
}
.servicesparent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}
.serviceschild{
  width: 30%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* center horizontally */
  align-items: center;  /* center vertically */
  gap: -2rem;
  margin: 2rem;
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
  .logo{
    font-size: 5rem;
  }
  .button1{
    width: 70%;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .meet{
    font-size: 4rem;
    margin-bottom: 25rem;
  }
  .meet2{
    font-size: 4rem;
  }
  .meetsimonchild{
    width: 100%;
    margin-bottom: 20rem;
  }
  .serviceschild{
    width: 100%;
  }
}









/*FONTS*/
.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}